@media (max-width: 48em) {
  .html {
    font-size: 56.25%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .section {
    overflow-x: hidden;
  }
  .container {
    width: 46rem;
  }
  .navbar--left {
    gap: 0.5rem;
  }
  .navbar--list {
    gap: 1rem;
  }
  .navbar--text {
    font-size: 1.6rem;
  }
  .navbar--item {
    font-size: 1rem;
  }
  .follow--media {
    padding: 0.8rem;
  }
  .navbar--icon {
    font-size: 1.2rem;
  }
  .hero--container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.8rem;
  }
  .hero--left {
    margin-top: 2.4rem;
    text-align: center;
  }
  .hero--right {
    display: flex;
    justify-content: center;
  }
  .hero--img {
    width: 70%;
  }
  .hero--header--1 {
    font-size: 3rem;
  }
  .hero--background {
    height: 50%;
    left: 0%;
    top: 0%;
  }
  .card--container {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    margin-bottom: 1.2rem;
  }
  .games--container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.6rem;
  }
  .game--left {
    text-align: center;
  }
  .game--right {
    display: flex;
    justify-content: center;
  }

  .game--header {
    font-size: 2.4rem;
  }
  .game--text {
    font-size: 0.8rem;
  }
  .game--img--1 {
    width: 70%;
  }
  .game--img--2 {
    width: 50%;
  }
  .angela {
    transform: translate(10%, 40%);
  }
  .genre--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
    padding: 2rem;
  }
  .genre--btn {
    font-size: 1rem;
    padding: 3px;
    border: solid 1px transparent;
  }
  .genre--btn:hover {
    border: solid 1px #f948b2;
  }
  .genre--img {
    width: 30%;
  }
}
@media (max-width: 27em) {
  .html {
    font-size: 50%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .section {
    overflow-x: hidden;
  }
  .container {
    width: 425px;
  }
  .navbar {
    box-shadow: none;
  }
  .navbar--container {
    flex-direction: column;
    justify-content: center;
  }
  .navbar--left {
    margin-top: 3.6rem;
  }
  .navbar--right {
    margin-top: 3.6rem;
  }
  .navbar--list {
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
  }
  .follow--media {
    margin-top: 3.6rem;
  }
  .hero--container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .hero--left {
    margin-top: 1.2rem;
    text-align: center;
  }
  .hero--right {
    display: flex;
    justify-content: center;
  }
  .hero--img {
    width: 80%;
  }
  .hero--header--1 {
    font-size: 3rem;
  }
  .hero--background {
    width: 140%;
    left: -45%;
  }
  .videos--header {
    font-size: 1.6rem;
  }
  .videos--text {
    font-size: 0.8rem;
  }
  .card--container {
    grid-template-columns: 1fr;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
  }
  .card--img {
    width: 70%;
  }
  .img--container {
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    border: 0px;
  }
  .card:hover .img--container {
    border: 0px;
  }
  .games--container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.6rem;
  }
  .game--left {
    text-align: center;
  }
  .game--right {
    display: flex;
    justify-content: center;
  }

  .game--header {
    font-size: 2.4rem;
  }
  .game--text {
    font-size: 1rem;
  }
  .game--img--1 {
    width: 70%;
  }
  .game--img--2 {
    width: 50%;
  }
  .angela {
    transform: translate(10%, 40%);
  }
  .genre--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
    padding: 2rem;
  }
  .genre--btn {
    font-size: 0.5rem;
    padding: 1px 1px 1px 1px;
    border: solid 1px transparent;
  }
  .genre--btn:hover {
    border: solid 1px #f948b2;
  }
  .genre--img {
    width: 30%;
  }
  .footer--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo--text {
    font-size: 1.8rem;
  }
  .footer--nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 0.8rem;
  }
  .footer--item {
    font-size: 0.8rem;
  }
  .social--icons {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
  }
  .footer--policies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1.6rem;
  }
  .policy--text {
    font-size: 0.8rem;
  }
  .footer--info {
    width: 20rem;
    display: flex;
    justify-content: center;
    margin-top: 2.4remf;
  }
  .footer--text {
    font-size: 0.8rem;
    text-align: center;
  }
}

/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px */
